<template>
  <div class="about">
    <div class="flex flex-wrap mb-4">
      <h1 class="text-3xl flex">{{ $t("New customer") }}</h1>
      <router-link
        to="/customers"
        class="group relative ml-auto mr-0 flex justify-center py-2 px-4 border border-teal-600 dark:border-teal-900 shadow text-sm font-medium rounded-md text-white bg-teal-500 hover:bg-teal-600 dark:bg-teal-700 dark:hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
        :is="isBusy ? 'span' : 'router-link'"
      >
        {{ $t("Customer List") }}
      </router-link>
    </div>

    <div class="w-full grid">
      <form
        novalidate
        @submit.prevent="onSubmit()"
        class="w-full flex flex-wrap p-4 rounded shadow-xs bg-gray-50 dark:bg-black rounded-t shadow"
      >
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2">
          <input
            :disabled="isBusy"
            type="text"
            name="first_name"
            id="first_name"
            v-model="model.first_name"
            autocomplete="given-name"
            :placeholder="$t('Name')"
            class="appearance-none w-full relative ml-0 mr-auto block px-3 py-2 border border-gray-300 dark:border-black dark:placeholder-gray-200 placeholder-gray-600 dark:bg-gray-900 rounded-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:ring dark:focus:ring dark:focus:border-teal-300 text-sm"
          />
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2">
          <input
            :disabled="isBusy"
            type="text"
            name="last_name"
            id="last_name"
            v-model="model.last_name"
            autocomplete="last-name"
            :placeholder="$t('Last name')"
            class="appearance-none w-full relative ml-0 mr-auto block px-3 py-2 border border-gray-300 dark:border-black dark:placeholder-gray-200 placeholder-gray-600 dark:bg-gray-900 rounded-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:ring dark:focus:ring dark:focus:border-teal-300 text-sm"
          />
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2">
          <input
            :disabled="isBusy"
            type="text"
            name="identification"
            id="identification"
            v-model="model.identification"
            autocomplete="identification"
            :placeholder="$t('Identification')"
            class="appearance-none w-full relative ml-0 mr-auto block px-3 py-2 border border-gray-300 dark:border-black dark:placeholder-gray-200 placeholder-gray-600 dark:bg-gray-900 rounded-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:ring dark:focus:ring dark:focus:border-teal-300 text-sm"
          />
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2">
          <input
            :disabled="isBusy"
            type="email"
            name="email"
            id="email"
            v-model="model.email"
            autocomplete="email"
            :placeholder="$t('Email')"
            class="appearance-none w-full relative ml-0 mr-auto block px-3 py-2 border border-gray-300 dark:border-black dark:placeholder-gray-200 placeholder-gray-600 dark:bg-gray-900 rounded-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:ring dark:focus:ring dark:focus:border-teal-300 text-sm"
          />
        </div>
        <div class="w-full sm:w-1/3 md:w-1/4 lg:w-1/5 p-2">
          <input
            :disabled="isBusy"
            type="text"
            name="phone"
            id="phone"
            v-model="model.phone"
            autocomplete="phone"
            :placeholder="$t('Phone')"
            class="appearance-none w-full relative ml-0 mr-auto block px-3 py-2 border border-gray-300 dark:border-black dark:placeholder-gray-200 placeholder-gray-600 dark:bg-gray-900 rounded-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:ring dark:focus:ring dark:focus:border-teal-300 text-sm"
          />
        </div>
        <div class="w-full sm:w-1/3 md:w-1/4 lg:w-1/5 p-2">
          <input
            :disabled="isBusy"
            type="number"
            min="8"
            name="age"
            id="age"
            v-model="model.age"
            autocomplete="age"
            :placeholder="$t('Age')"
            class="appearance-none w-full relative ml-0 mr-auto block px-3 py-2 border border-gray-300 dark:border-black dark:placeholder-gray-200 placeholder-gray-600 dark:bg-gray-900 rounded-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:ring dark:focus:ring dark:focus:border-teal-300 text-sm"
          />
        </div>
        <div class="w-full p-2 text-center">
          <button
            type="submit"
            :disabled="isBusy"
            class="group relative w-full flex justify-center py-2 px-4 border border-teal-600 dark:border-teal-900 shadow text-sm font-medium rounded-md text-white bg-teal-500 hover:bg-teal-600 dark:bg-teal-700 dark:hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <Fa icon="lock" />
            </span>
            {{ $t("Save") }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import store from "../store";
import { computed, reactive } from "vue";
export default {
  setup() {
    const model = reactive({
      first_name: "",
      last_name: "",
      identification: "",
      email: "",
      phone: "",
      age: "",
    });
    function onSubmit() {
      var oldModel = model;

      store.dispatch("createCustomer", model).then((res) => {
        console.log(res);
        if (res == 201) {
          model.first_name = "";
          model.last_name = "";
          model.identification = "";
          model.email = "";
          model.phone = "";
          model.age = "";
        }
      });
    }
    return {
      model,
      onSubmit,
      isBusy: computed(() => store.state.isBusy),
    };
  },
};
</script>
