<template>
  <div class="about">
    <div class="flex flex-wrap mb-4">
      <h1 class="text-3xl flex">{{ $t("Customers") }}</h1>
      <router-link
        to="/new-customer"
        class="group relative ml-auto mr-0 flex justify-center py-2 px-4 border border-teal-600 dark:border-teal-900 shadow text-sm font-medium rounded-md text-white bg-teal-500 hover:bg-teal-600 dark:bg-teal-700 dark:hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
        :is="isBusy ? 'span' : 'router-link'"
      >
        {{ $t("New customer") }}
      </router-link>
    </div>

    <div class="w-full grid">
      <transition name="fade" mode="out-in">
        <div
          class="w-full overflow-hidden rounded shadow-xs bg-gray-50 dark:bg-gray-900 rounded-t shadow"
          v-if="customers.data.length > 0"
          key="tr1"
        >
          <div class="w-full overflow-x-auto">
            <table class="w-full min-w-5xl">
              <thead>
                <tr
                  class="text-sm font-semibold tracking-wide text-left text-gray-800 border-b dark:border-gray-800 bg-gray-50 dark:text-gray-100 dark:bg-black"
                >
                  <!-- <th class="px-4 py-3">{{ $t("#") }}</th> -->
                  <th class="px-4 py-3">{{ $t("Name") }}</th>
                  <th class="px-4 py-3">{{ $t("Last name") }}</th>
                  <th class="px-4 py-3">{{ $t("Identification") }}</th>
                  <th class="px-4 py-3">{{ $t("Email") }}</th>
                  <th class="px-4 py-3">{{ $t("Age") }}</th>
                  <th class="px-4 py-3">{{ $t("Phone") }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody
                class="bg-white divide-y dark:divide-gray-800 dark:bg-gray-900"
              >
                <tr
                  class="text-gray-700 dark:text-gray-300"
                  v-for="c in customers.data"
                  :key="c.id"
                >
                  <!-- <td class="px-4 py-3 text-sm">{{ c.id }}</td> -->
                  <td class="px-4 py-3 text-sm">{{ c.first_name }}</td>
                  <td class="px-4 py-3 text-sm">{{ c.last_name }}</td>
                  <td class="px-4 py-3 text-sm">{{ c.identification }}</td>
                  <td class="px-4 py-3 text-sm">{{ c.email }}</td>
                  <td class="px-4 py-3 text-sm">
                    {{ c.age + " " + $t("years") }}
                  </td>
                  <td class="px-4 py-3 text-sm">{{ c.phone }}</td>
                  <td class="px-4 py-3 text-sm">
                    <button
                      class="group relative ml-auto mr-0 flex justify-center py-1 px-2 border border-rose-600 dark:border-rose-900 shadow text-xs font-medium rounded-md text-white bg-rose-500 hover:bg-rose-600 dark:bg-rose-700 dark:hover:bg-rose-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-500"
                      @click="
                        open = true;
                        model.customer = c.id;
                      "
                    >
                      {{ $t("Delete") }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination
            v-model="customers.current_page"
            :records="customers.total"
            :per-page="customers.per_page"
            @paginate="loadCustomers"
            :options="options"
          >
          </pagination>
        </div>
        <div
          key="tr2"
          v-else
          class="text-center text-lg font-semibold bg-gray-50 dark:bg-gray-900 rounded shadow"
        >
          {{ $t("No results found") }}
        </div>
      </transition>
    </div>
    <transition
      enter-active-class="ease-out duration-300"
      enter-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      enter-to-class="opacity-100 translate-y-0 sm:scale-100"
      leave-active-class="ease-in duration-200"
      leave-class="opacity-100 translate-y-0 sm:scale-100"
      leave-to-class="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      mode="out-in"
    >
      <div class="fixed z-10 inset-0 overflow-y-auto" v-show="open">
        <div
          class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
        >
          <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div
              class="absolute inset-0 bg-gray-800 dark:bg-gray-600 opacity-75"
            ></div>
          </div>

          <span
            class="hidden sm:inline-block sm:align-middle sm:h-screen"
            aria-hidden="true"
            >&#8203;</span
          >

          <div
            class="inline-block align-bottom bg-white dark:bg-gray-900 border-gray-900 border rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
            role="dialog"
            aria-modal="true"
            aria-labelledby="modal-headline"
          >
            <div
              class="bg-white dark:bg-gray-900 px-4 pt-5 pb-4 sm:p-6 sm:pb-4"
            >
              <div class="sm:flex sm:items-start">
                <div
                  class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 dark:bg-red-700 sm:mx-0 sm:h-10 sm:w-10"
                >
                  <!-- Heroicon name: exclamation -->
                  <svg
                    class="h-6 w-6 text-red-600 dark:text-red-100"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
                    />
                  </svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <h3 class="text-lg leading-6 font-medium" id="modal-headline">
                    {{ $t("Delete") }}
                  </h3>
                  <div class="mt-2">
                    <p class="text-sm text-gray-600 dark:text-gray-400">
                      {{
                        $t(
                          "Are you sure you want to delete this customer? This action can not be undone."
                        )
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="dark:bg-gray-800 bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse"
            >
              <button
                :disabled="isBusy"
                @click="
                  open = false;
                  model.customer = '';
                "
                type="button"
                class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-gray-900 shadow-xs px-3 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
              >
                {{ $t("Cancel") }}
              </button>
              <button
                :disabled="isBusy"
                @click="
                  deleteCustomer();
                  open = false;
                "
                type="button"
                class="w-full inline-flex justify-center rounded-md border border-gray-300 dark:border-gray-900 shadow-xs px-3 py-2 bg-rose-600 text-base font-medium text-white hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
              >
                {{ $t("Delete") }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import store from "../store";
import Pagination from "v-pagination-3";
import { onMounted, computed, reactive } from "vue";
import { useRoute, useRouter } from "vue-router";
import TPaginationVue from "../components/TPagination.vue";
export default {
  components: {
    Pagination,
    TPaginationVue,
  },
  data() {
    return {
      open: false,
      options: {
        template: TPaginationVue,
      },
    };
  },
  setup() {
    const route = useRoute();
    const router = useRouter();
    const page = route.query.page || 1;
    const model = reactive({ customer: "" });
    const customers = computed(() => store.state.customers);
    onMounted(() => store.dispatch("loadCustomers", page));

    function loadCustomers(page = 1) {
      store.dispatch("loadCustomers", page);
      if (page === 1) {
        router.replace({ query: {} });
      } else {
        router.replace({ query: { page: page } });
      }
    }
    function deleteCustomer() {
      store.dispatch("deleteCustomer", model).then((res) => {
        if (res == 200) {
          model.customer = "";
          loadCustomers(route.query.page || 1);
        }
      });
    }

    return {
      model,
      isBusy: computed(() => store.state.isBusy),
      customers,
      loadCustomers,
      deleteCustomer,
    };
  },
};
</script>
