<template>
  <div class="grid gap-6 mb-8 grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
    <router-link
      to="/customers"
      class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-900 shadow"
    >
      <div
        class="flex mr-4 my-auto icon-24 shadow-sm text-teal-900 rounded-full dark:text-teal-100"
      >
        <Fa icon="users" class="m-auto text-6xl" />
      </div>
      <div class="text-sm ml-auto text-right">
        <p class="mb-2 font-semibold text-xl text-teal-900 dark:text-white">
          {{ $t("Customers") }}
        </p>
        <p class="mb-2 text-base text-teal-900 dark:text-white">
          {{ $t("Customer List") }}
        </p>
      </div>
    </router-link>
    <router-link
      to="/new-customer"
      class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-900 shadow"
    >
      <div
        class="flex mr-4 my-auto icon-24 shadow-sm text-teal-900 rounded-full dark:text-teal-100"
      >
        <Fa icon="user-plus" class="m-auto text-6xl" />
      </div>
      <div class="text-sm ml-auto text-right">
        <p class="mb-2 font-semibold text-xl text-teal-900 dark:text-white">
          {{ $t("New customer") }}
        </p>
        <p class="mb-2 text-base text-teal-900 dark:text-white">
          {{ $t("Register a new customer") }}
        </p>
      </div>
    </router-link>
    <router-link
      to="/tickets"
      class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-900 shadow"
    >
      <div
        class="flex mr-4 my-auto icon-24 shadow-sm text-teal-900 rounded-full dark:text-teal-100"
      >
        <Fa icon="ticket-alt" class="m-auto text-6xl" />
      </div>
      <div class="text-sm ml-auto text-right">
        <p class="mb-2 font-semibold text-xl text-teal-900 dark:text-white">
          {{ $t("Tickets") }}
        </p>
        <p class="mb-2 text-base text-teal-900 dark:text-white">
          {{ $t("Ticket List") }}
        </p>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Home",
};
</script>
