<template>
  <div class="min-h-full flex items-center justify-center py-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <div class="flex">
          <Fa
            icon="sign-in-alt"
            class="mx-auto text-5xl text-teal-800 dark:text-teal-200"
          />
        </div>
        <h2 class="mt-6 text-center text-3xl font-semibold">
          {{ $t("Admin Login") }}
        </h2>
      </div>
      <form novalidate @submit.prevent="onSubmit()" class="mt-8 space-y-6">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="email" class="sr-only">Email address</label>
            <input
              id="email"
              name="email"
              type="email"
              v-model="model.email"
              autocomplete="email"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 dark:border-black dark:placeholder-gray-200 placeholder-gray-600 dark:bg-gray-900 rounded-t-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:ring dark:focus:ring dark:focus:border-teal-300 sm:text-sm"
              :placeholder="$t('Email')"
            />
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input
              id="password"
              name="password"
              type="password"
              v-model="model.password"
              autocomplete="current-password"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 dark:border-black dark:placeholder-gray-200 placeholder-gray-600 dark:bg-gray-900 rounded-b-md focus:outline-none focus:ring-teal-500 focus:border-teal-500 focus:ring dark:focus:ring dark:focus:border-teal-300 sm:text-sm"
              :placeholder="$t('Password')"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            :disabled="isBusy"
            class="group relative w-full flex justify-center py-2 px-4 border border-teal-600 dark:border-teal-900 shadow text-sm font-medium rounded-md text-white bg-teal-500 hover:bg-teal-600 dark:bg-teal-700 dark:hover:bg-teal-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"
          >
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <Fa icon="lock" />
            </span>
            {{ $t("Login") }}
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { reactive, computed } from "vue";
import store from "../store";
export default {
  setup() {
    const model = reactive({ email: "", password: "" });
    function onSubmit() {
      store.dispatch("login", model);
    }
    return {
      isBusy: computed(() => store.state.isBusy),
      model,
      onSubmit,
    };
  },
};
</script>
