<template>
  <div>
    <Nav>
      <span v-if="!isAuthenticated">
        <NavItem href="/login" icon="sign-in-alt">{{ $t("Login") }}</NavItem>
      </span>

      <NavItem v-if="isAuthenticated" href="/" icon="home">{{
        $t("Home")
      }}</NavItem>
      <NavItem v-if="isAuthenticated" href="/tickets" icon="ticket-alt">{{
        $t("Tickets")
      }}</NavItem>
      <NavItem v-if="isAuthenticated" href="/customers" icon="users">{{
        $t("Customers")
      }}</NavItem>
      <li>
        <button
          v-if="isAuthenticated"
          class="block px-2 py-2 rounded-md transition-colors bg-transparent hover:bg-teal-200 dark:hover:bg-gray-800 w-full text-left"
          @click.prevent="onLogout"
        >
          <Fa icon="sign-out-alt" />
          {{ $t("Logout") }}
        </button>
      </li>
    </Nav>
    <div class="container pt-8 pb-16 px-2 mx-auto">
      <router-view v-slot="{ Component }">
        <transition name="fade" mode="out-in">
          <component :is="Component" />
        </transition>
      </router-view>
    </div>

    <div
      class="fixed flex flex-wrap bottom-0 right-0 left-0 shadow-xl border-t border-teal-200 dark:border-coolGray-800 bg-gradient-to-tr from-teal-200 to-coolGray-50 dark:from-gray-800 via-green-100 dark:via-gray-900 dark:to-black px-4 py-2 bg-opacity-75"
    >
      <div class="w-1/2 font-semibold text-sm">
        <Fa icon="copyright" /> Pablo Madariaga - {{ year }}
      </div>
      <div class="w-1/2 text-sm text-right">
        <Fa icon="globe-americas" />
        <span
          class="ml-3 cursor-pointer"
          :class="{ 'font-bold': lang == 'es' }"
          @click="toggleLang('es')"
          >ES</span
        >
        <span
          class="ml-3 cursor-pointer"
          :class="{ 'font-bold': lang == 'en' }"
          @click="toggleLang('en')"
          >EN</span
        >
      </div>
    </div>
    <transition name="fade-in-up" mode="out-in">
      <div
        class="fixed h-8 left-0 bottom-9 right-0 text-right px-4 z-50"
        v-if="isBusy"
      >
        <Fa icon="spinner" class="fa-spin" />
        {{ $t("Loading") }}...
      </div>
    </transition>
    <transition name="fade">
      <div
        class="fixed flex left-0 bottom-14 right-0 text-right px-4 z-50"
        v-if="error"
      >
        <div
          class="max-w-md mx-auto text-center p-4 rounded-lg shadow-md bg-rose-200 dark:bg-rose-700 dark:text-white text-coolGray-800 relative"
        >
          <span
            class="absolute right-2 top-1 cursor-pointer text-xs"
            @click="$store.state.error = false"
          >
            <Fa icon="times" />
          </span>
          {{ $t(error) }}
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        class="fixed flex left-0 bottom-14 right-0 text-right px-4 z-50"
        v-if="success"
      >
        <div
          class="max-w-md mx-auto text-center p-4 rounded-lg shadow-md bg-teal-200 dark:bg-teal-700 dark:text-white text-coolGray-800 relative"
        >
          <span
            class="absolute right-2 top-1 cursor-pointer text-xs"
            @click="$store.state.success = false"
          >
            <Fa icon="times" />
          </span>
          {{ $t(success) }}
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import store from "./store";
// import i18n from "./i18n";
import Nav from "./components/Nav.vue";
import NavItem from "./components/NavItem.vue";
import { computed, onBeforeMount, watch } from "vue";
import { useRoute } from "vue-router";
import { useI18n } from "vue-i18n";
export default {
  components: {
    Nav,
    NavItem,
  },
  setup() {
    onBeforeMount(() => {
      store.dispatch("initTheme");
      store.dispatch("initLang");
    });
    const theme = computed(() => store.getters.getTheme);
    watch(theme, (newTheme, oldTheme) => {
      newTheme === "light"
        ? document.querySelector("html").classList.remove("dark")
        : document.querySelector("html").classList.add("dark");
    });
    const route = useRoute();
    const { t, locale } = useI18n({ useScope: "global" });
    const lang = computed(() => store.getters.getLang);
    const isAuthenticated = computed(() => store.getters.isAuthenticated);
    watch(lang, (newLang, oldLang) => {
      locale.value = newLang;
      document.querySelector("html").setAttribute("lang", newLang);
      document.title = t(route.name || "Boletos");
    });
    // watch(isAuthenticated, (newVal, oldVal) => {
    //   consol.log(newVal);
    // });

    return {
      year: new Date().getFullYear(),
      theme,
      lang,
      isBusy: computed(() => store.state.isBusy),
      error: computed(() => store.state.error),
      success: computed(() => store.state.success),
      isAuthenticated,
      onLogout: () => store.dispatch("logout"),
      toggleLang: (locale) => store.dispatch("toggleLang", locale),
    };
  },
};
</script>
