/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  transition: ease-out 0.2s;
}

::-webkit-scrollbar-thumb {
  transition: ease-out 0.2s;
  border-radius: 5px;
  background: #14b8a6;
  background: -moz-linear-gradient(left, #14b8a6 0%, #0f766e 100%);
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #14b8a6),
    color-stop(100%, #0f766e)
  );
  background: -webkit-linear-gradient(left, #14b8a6 0%, #0f766e 100%);
  background: -o-linear-gradient(left, #14b8a6 0%, #0f766e 100%);
  background: -ms-linear-gradient(left, #14b8a6 0%, #0f766e 100%);
  background: linear-gradient(to right, #14b8a6 0%, #0f766e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f766E', endColorstr='#0f766e', GradientType=1 );
}

::-webkit-scrollbar-thumb:hover {
  transition: ease-out 0.2s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
  transition: ease-out 0.2s;
}
.min-w-7xl {
  min-width: 80rem;
}

.min-w-6xl {
  min-width: 72rem;
}

.min-w-5xl {
  min-width: 64rem;
}

.min-w-4xl {
  min-width: 56rem;
}

.min-w-3xl {
  min-width: 48rem;
}

.min-w-2xl {
  min-width: 42rem;
}

.min-w-xl {
  min-width: 36rem;
}

.min-w-lg {
  min-width: 32rem;
}

.icon-24 {
  width: 6rem;
  height: 6rem;
  min-width: 6rem;
  min-height: 6rem;
}

[disabled] {
  cursor: not-allowed !important;
  opacity: 0.7 !important;
}
