:root {
  --overlay-bg: #1867c0;
  --transition-duration: 0.35s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fade-in-down-leave-to {
  opacity: 0;
  transition: opacity 0.3s;
}
.fade-in-down-enter {
  opacity: 0;
  transform: translate3d(0, -40px, 0);
}
.fade-in-down-enter-to {
  opacity: 0;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}
@keyframes fadeInRight {
  from {
    transform: translate3d(40px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fade-in-right-leave-to {
  opacity: 0;
  transition: opacity 0.3s;
}
.fade-in-right-enter {
  opacity: 0;
  transform: translate3d(40px, 0, 0);
}
.fade-in-right-enter-to {
  opacity: 0;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fade-in-up-leave-to {
  opacity: 0;
  transition: opacity 0.3s;
}
.fade-in-up-enter {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
}
.fade-in-up-enter-to {
  opacity: 0;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
.fade-in-up-enter,
.fade-in-up-leave-active {
  opacity: 0;
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(-40px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.fade-in-left-leave-to {
  opacity: 0;
  transition: opacity 0.3s;
}
.fade-in-left-enter {
  opacity: 0;
  transform: translate3d(-40px, 0, 0);
}
.fade-in-left-enter-to {
  opacity: 0;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}
.zoom-enter-active,
.zoom-leave-active {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.zoom-enter,
.zoom-leave-to {
  opacity: 0;
  transform: scale(0);
}
.flip-x-enter-active,
.flip-x-leave-active {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.flip-x-enter,
.flip-x-leave-to {
  transform: rotateX(-180deg);
  opacity: 0;
}
.flip-y-enter-active,
.flip-y-leave-active {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.flip-y-enter,
.flip-y-leave-to {
  transform: rotateY(-180deg);
  opacity: 0;
}
.overlay-right {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background: var(--overlay-bg);
  transition-duration: var(--transition-duration);
}
.overlay-right-enter ~ .overlay-right,
.overlay-right-leave-to ~ .overlay-right {
  width: 0;
}
.overlay-right-enter-active ~ .overlay-right,
.overlay-right-leave-active ~ .overlay-right {
  width: 100vw;
}
.overlay-right-enter-active ~ .overlay-right {
  transition-timing-function: ease-in;
}
.overlay-right-leave-active ~ .overlay-right {
  transition-timing-function: ease-out;
}
.overlay-right-enter-active,
.overlay-right-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  background: var(--overlay-bg);
  transition-duration: var(--transition-duration);
}
.overlay-down-enter ~ .overlay-top,
.overlay-down-leave-to ~ .overlay-top {
  height: 0;
}
.overlay-down-enter-active ~ .overlay-top,
.overlay-down-leave-active ~ .overlay-top {
  height: 100vh;
}
.overlay-down-enter-active ~ .overlay-top {
  transition-timing-function: ease-in;
}
.overlay-down-leave-active ~ .overlay-top {
  transition-timing-function: ease-out;
}
.overlay-down-enter-active,
.overlay-down-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100vw;
  background: var(--overlay-bg);
  transition-duration: var(--transition-duration);
}
.overlay-up-enter ~ .overlay-bottom,
.overlay-up-leave-to ~ .overlay-bottom {
  height: 0;
}
.overlay-up-enter-active ~ .overlay-bottom,
.overlay-up-leave-active ~ .overlay-bottom {
  height: 100vh;
}
.overlay-up-enter-active ~ .overlay-bottom {
  transition-timing-function: ease-in;
}
.overlay-up-leave-active ~ .overlay-bottom {
  transition-timing-function: ease-out;
}
.overlay-up-enter-active,
.overlay-up-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-left {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background: var(--overlay-bg);
  transition-duration: 0.35s;
}
.overlay-left-enter ~ .overlay-left,
.overlay-left-leave-to ~ .overlay-left {
  width: 0;
}
.overlay-left-enter-active ~ .overlay-left,
.overlay-left-leave-active ~ .overlay-left {
  width: 100vw;
}
.overlay-left-enter-active ~ .overlay-left {
  transition-timing-function: ease-in;
}
.overlay-left-leave-active ~ .overlay-left {
  transition-timing-function: ease-out;
}
.overlay-left-enter-active,
.overlay-left-leave-active {
  transition-duration: 0.35s;
}
.overlay-up-full-enter ~ .overlay-bottom {
  height: 100vh;
}
.overlay-up-full-enter-active ~ .overlay-bottom,
.overlay-up-full-leave-active ~ .overlay-bottom {
  height: 100vh;
}
.overlay-up-full-enter-active ~ .overlay-bottom {
  transition-timing-function: ease-in;
}
.overlay-up-full-enter-active ~ .overlay-bottom,
.overlay-up-full-enter-to ~ .overlay-bottom {
  display: none;
}
.overlay-up-full-enter-to ~ .overlay-top {
  height: 0;
}
.overlay-up-full-leave-active ~ .overlay-top {
  transition-timing-function: ease;
}
.overlay-up-full-enter ~ .overlay-top,
.overlay-up-full-enter-active ~ .overlay-top,
.overlay-up-full-enter-to ~ .overlay-top {
  transition-duration: unset !important;
  height: 100vh;
}
.overlay-up-full-enter-active,
.overlay-up-full-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-right-full-enter ~ .overlay-left {
  width: 100vw;
}
.overlay-right-full-enter-active ~ .overlay-left,
.overlay-right-full-leave-active ~ .overlay-left {
  width: 100vw;
}
.overlay-right-full-enter-active ~ .overlay-left {
  transition-timing-function: ease-in;
}
.overlay-right-full-enter-active ~ .overlay-left,
.overlay-right-full-enter-to ~ .overlay-left {
  display: none;
}
.overlay-right-full-enter-to ~ .overlay-right {
  width: 0;
}
.overlay-right-full-leave-active ~ .overlay-right {
  transition-timing-function: ease;
}
.overlay-right-full-enter ~ .overlay-right,
.overlay-right-full-enter-active ~ .overlay-right,
.overlay-right-full-enter-to ~ .overlay-right {
  transition-duration: unset !important;
  width: 100vw;
}
.overlay-right-full-enter-active,
.overlay-right-full-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-down-full-enter ~ .overlay-top {
  height: 100vh;
}
.overlay-down-full-enter-to ~ .overlay-bottom {
  height: 0;
}
.overlay-down-full-enter-active ~ .overlay-top,
.overlay-down-full-leave-active ~ .overlay-top {
  height: 100vh;
}
.overlay-down-full-enter-active ~ .overlay-top {
  transition-timing-function: ease-in;
}
.overlay-down-full-leave-active ~ .overlay-bottom {
  transition-timing-function: ease;
}
.overlay-down-full-enter-active,
.overlay-down-full-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-down-full-enter-active ~ .overlay-top,
.overlay-down-full-enter-to ~ .overlay-top {
  display: none;
}
.overlay-down-full-enter ~ .overlay-bottom,
.overlay-down-full-enter-active ~ .overlay-bottom,
.overlay-down-full-enter-to ~ .overlay-bottom {
  transition-duration: unset !important;
  height: 100vh;
}
.overlay-left-full-enter ~ .overlay-right {
  width: 100vw;
}
.overlay-left-full-enter-active ~ .overlay-right,
.overlay-left-full-leave-active ~ .overlay-right {
  width: 100vw;
}
.overlay-left-full-enter-active ~ .overlay-right {
  transition-timing-function: ease-in;
}
.overlay-left-full-enter-active ~ .overlay-right,
.overlay-left-full-enter-to ~ .overlay-right {
  display: none;
}
.overlay-left-full-enter-to ~ .overlay-left {
  width: 0;
}
.overlay-left-full-leave-active ~ .overlay-left {
  transition-timing-function: ease;
}
.overlay-left-full-enter ~ .overlay-left,
.overlay-left-full-enter-active ~ .overlay-left,
.overlay-left-full-enter-to ~ .overlay-left {
  transition-duration: unset !important;
  width: 100vw;
}
.overlay-left-full-enter-active,
.overlay-left-full-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-up-down-enter ~ .overlay-bottom,
.overlay-up-down-enter ~ .overlay-top {
  height: 0;
}
.overlay-up-down-leave-active ~ .overlay-bottom,
.overlay-up-down-leave-to ~ .overlay-bottom,
.overlay-up-down-leave-to ~ .overlay-top,
.overlay-up-down-leave-to ~ .overlay-top {
  height: 51vh;
}
.overlay-up-down-enter-active ~ .overlay-bottom,
.overlay-up-down-enter-active ~ .overlay-top {
  transition-timing-function: ease;
}
.overlay-up-down-leave-active ~ .overlay-bottom,
.overlay-up-down-leave-active ~ .overlay-top {
  transition-timing-function: ease;
}
.overlay-up-down-enter-active,
.overlay-up-down-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-left-right-enter ~ .overlay-left,
.overlay-left-right-enter ~ .overlay-right {
  width: 0;
}
.overlay-left-right-leave-active ~ .overlay-left,
.overlay-left-right-leave-to ~ .overlay-left,
.overlay-left-right-leave-to ~ .overlay-right,
.overlay-left-right-leave-to ~ .overlay-right {
  width: 51vw;
}
.overlay-left-right-enter-active ~ .overlay-left,
.overlay-left-right-enter-active ~ .overlay-right {
  transition-timing-function: ease;
}
.overlay-left-right-leave-active ~ .overlay-left,
.overlay-left-right-leave-active ~ .overlay-right {
  transition-timing-function: ease;
}
.overlay-left-right-enter-active,
.overlay-left-right-leave-active {
  transition-duration: var(--transition-duration);
}
