<template>
  <div
    class="fixed bottom-1 right-1 z-50 flex flex-wrap rounded-lg shadow-lg text-blueGray-50 dark:text-coolGray-800"
    :class="{
      'dark:bg-rose-200 bg-rose-900': type == 2,
      'dark:bg-emerald-200 bg-emerald-800': type == 1,
    }"
  >
    <div class="w-1/5 flex text-2xl">
      <Fa icon="" />
    </div>
  </div>
</template>

<script>
export default {
  props: {},
};
</script>

<style></style>
