<template>
  <nav
    class="shadow bg-gradient-to-br border-teal-200 dark:border-coolGray-800 border-b from-teal-200 to-coolGray-50 dark:from-gray-800 via-green-100 dark:via-gray-900 dark:to-black px-4 py-2 z-10"
  >
    <div class="flex">
      <ul class="flex space-x-2">
        <span class="block px-6 py-2 rounded-md text-lg font-semibold">
          <Fa icon="ticket-alt" /> {{ $t("Tickets") }}
        </span>
      </ul>
      <div class="relative inline-block mr-0 ml-auto my-auto md:hidden">
        <button
          @click="open = !open"
          class="dark:bg-teal-700 bg-teal-200 rounded-full w-7 h-7 flex my-auto shadow-sm border focus:ring-teal-300 border-teal-300 dark:border-teal-900 focus:outline-none focus:ring focus:border-teal-400"
        >
          <Fa icon="bars" class="m-auto" />
        </button>
        <transition
          enter-active-class="transition ease-out duration-100 transform"
          enter-class="opacity-0 scale-95"
          enter-to-class="opacity-100 scale-100"
          leave-active-class="transition ease-in duration-75 transform"
          leave-class="opacity-100 scale-100"
          leave-to-class="opacity-0 scale-95"
          mode="out-in"
        >
          <div
            v-if="open"
            class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg z-10"
          >
            <div class="rounded-md bg-white dark:bg-gray-900 shadow-xs p-2">
              <ul>
                <slot></slot>
              </ul>
            </div>
          </div>
        </transition>
      </div>
      <button
        @click="toggleTheme"
        class="dark:text-teal-600 md:hidden mr-0 ml-2 text-purple-500 rounded-full bg-coolGray-700 dark:bg-coolGray-200 shadow w-7 h-7 my-auto focus:outline-none"
      >
        <span v-show="theme !== 'light'"> <Fa icon="sun" /> </span>
        <span v-show="theme === 'light'"> <Fa icon="moon" /> </span>
      </button>
      <ul class="md:flex space-x-2 mr-0 ml-auto hidden">
        <slot></slot>
        <button
          @click="toggleTheme"
          class="dark:text-teal-600 text-purple-500 rounded-full bg-coolGray-700 dark:bg-coolGray-200 shadow w-7 h-7 my-auto focus:outline-none"
        >
          <span v-show="theme !== 'light'"> <Fa icon="sun" /> </span>
          <span v-show="theme === 'light'"> <Fa icon="moon" /> </span>
        </button>
      </ul>
    </div>
  </nav>
</template>

<script>
import { computed } from "vue";
import store from "../store";
export default {
  name: "Nav",
  data() {
    return {
      open: false,
    };
  },
  methods: {
    toggleTheme() {
      this.$store.dispatch("toggleTheme");
    },
  },
  watch: {
    $route(to, from) {
      this.open = false;
    },
  },
  setup() {
    return {
      theme: computed(() => store.getters.getTheme),
    };
  },
};
</script>
