<template>
  <li>
    <router-link
      :to="href"
      class="block px-2 py-2 rounded-md transition-colors bg-transparent hover:bg-teal-200 dark:hover:bg-gray-800"
      active-class="font-bold text-opacity-100 text-sh"
    >
      <Fa v-if="icon != null" :icon="icon" /> <slot></slot>
    </router-link>
  </li>
</template>

<script>
export default {
  props: {
    href: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      default: null,
    },
  },
};
</script>
