<template>
  <div
    class="bg-white dark:bg-gray-900 px-4 py-3 flex items-center justify-between border-t border-gray-200 dark:border-gray-800 sm:px-6"
  >
    <div class="flex-1 flex justify-between sm:hidden">
      <button
        :class="{
          'cursor-not-allowed': props.page <= 1,
          'focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-50 focus:z-10 hover:bg-gray-100 dark:hover:bg-gray-800':
            props.page > 1,
        }"
        class="relative inline-flex items-center px-2 py-1 rounded-l-md border border-gray-300 dark:border-gray-800 bg-white dark:bg-black text-xs font-medium"
        @click="props.setPrevPage"
        :disabled="props.page <= 1"
      >
        {{ $t("Previous") }}
      </button>
      <button
        :class="{
          'cursor-not-allowed':
            props.page >= props.pages[props.pages.length - 1],
          'focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-50 focus:z-10 hover:bg-gray-100 dark:hover:bg-gray-800':
            props.page < props.pages[props.pages.length - 1],
        }"
        class="relative inline-flex items-center px-2 py-1 rounded-r-md border border-gray-300 dark:border-gray-800 bg-white dark:bg-black text-xs font-medium"
        @click="props.setNextPage"
        :disabled="props.page >= props.pages[props.pages.length - 1]"
      >
        {{ $t("Next") }}
      </button>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div v-show="props.hasRecords">
        <p v-show="props.hasRecords" class="text-xs">
          {{ $t("Showing") }}
          <span class="font-medium">{{
            props.page == 1
              ? 1
              : props.perPage * (props.page - 1 > 1 ? props.page - 1 : 1) + 1
          }}</span>
          {{ $t("to") }}
          <span class="font-medium">{{
            props.perPage * props.page > props.records
              ? props.records
              : props.perPage * props.page
          }}</span>
          {{ $t("of") }}
          <span class="font-medium">{{ props.records }}</span>
          {{ $t("results") }}
        </p>
      </div>
      <div>
        <nav
          class="relative z-0 inline-flex shadow-sm -space-x-px"
          aria-label="Pagination"
        >
          <button
            @click="props.setPrevPage"
            :disabled="props.page <= 1"
            :class="{
              'cursor-not-allowed': props.page <= 1,
              'focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-50 focus:z-10 hover:bg-gray-100 dark:hover:bg-gray-800':
                props.page > 1,
            }"
            class="relative inline-flex items-center p-1 rounded-l-md border border-gray-300 dark:border-gray-800 bg-white dark:bg-black text-xs font-medium"
          >
            <span class="sr-only">Previous</span>
            <!-- Heroicon name: chevron-left -->
            <svg
              class="h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
          <button
            v-for="page in props.pages"
            :key="page"
            :class="
              props.page == page
                ? ' bg-teal-50 dark:bg-teal-700'
                : 'bg-white dark:bg-black  dark:hover:bg-gray-800 hover:bg-gray-100'
            "
            :disabled="props.page == page"
            v-on="props.pageEvents(page)"
            v-bind="props.aProps"
            class="relative inline-flex items-center px-2 py-1 border border-gray-300 dark:border-gray-800 text-xs focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-50 focus:z-10 font-medium"
          >
            {{ page }}
          </button>
          <button
            @click="props.setNextPage"
            :disabled="props.page >= props.pages[props.pages.length - 1]"
            :class="{
              'cursor-not-allowed':
                props.page >= props.pages[props.pages.length - 1],
              'focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-50 focus:z-10 hover:bg-gray-100 dark:hover:bg-gray-800':
                props.page < props.pages[props.pages.length - 1],
            }"
            class="relative inline-flex items-center p-1 rounded-r-md border border-gray-300 dark:border-gray-800 bg-white dark:bg-black text-xs font-medium"
          >
            <span class="sr-only">Next</span>
            <!-- Heroicon name: chevron-right -->
            <svg
              class="h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TPagination",
  props: ["props"],
};
</script>
